@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Libre Franklin", sans-serif;
  margin: 0;
  background-color: var(--color-secondary);
}

//  Check
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
//  Check

.layout-outlet {
  flex: 1;
}
//  Check
h1 {
  color: var(--color-primary);
}

.active {
  font-weight: 900;
}

//  Check

header .btn {
  background: none;
  color: var(--color-primary);
  border: none;
  padding: 0;
  font-size: 1.8em;
}

//  Check

header .btn:hover {
  color: var(--color-primary);
  background: none;
}

// nav {
//   position: absolute;
//   right: 25px;
//   top: 117px;
//   font-family: "Roboto", sans-serif;
//   z-index: 1;
//   background: var(--color-secondary);
//   display: none;
//   text-align: center;
//   border: 3px solid var(--color-primary);
// }

//  Check

li {
  margin: 10px 0;
}

.dropdown-toggle {
  background: none;
  border: none;
  color: #004287;
  font-size: 2rem;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 30px;
  margin-bottom: 20px;
}

// LOGO

.logo-z {
  color: var(--color-tertiary);
  -webkit-text-stroke: 2px var(--color-primary);
}

//  Check

header {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  border-bottom: solid 3px var(--color-primary);
}

.logo-container svg {
  width: 170px;
}

//  Check

footer {
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: 120px;
  color: white;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

//  Check

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 100%;
}

//  Check
.footer-copyright {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  width: 33.33%;
}

//  Check
.footer-logo-container {
  display: flex;
  justify-content: center;
  width: 33.3%;
}

.footer-logo-container svg {
  width: 110px;
}

.footer-links {
  width: 33.33%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer a {
  font-family: "Quicksand", sans-serif;
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

.disabled {
  border: solid 3px red !important;
  text-decoration: red line-through;
}

// ABOUT PAGE

.about-page .card-img {
  filter: none;
}

.about-page .card-title {
  position: static;
  color: var(--color-primary);
  text-align: start;
  font-size: 1.4em;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
}

.about-page .card-text {
  color: var(--color-primary);
  font-family: "Quicksand", sans-serif;
}

// LOGIN

.my-login-modal {
  color: var(--color-primary);
}

.my-login-modal input {
  margin: 0 20px 10px 20px;
  outline: none;
  border: 1px solid var(--color-primary);
  padding: 4px 4px;
  font-family: "Quicksand", sans-serif;
  height: 2.5em;
}
.my-login-modal textarea {
  margin: 0 20px 10px 20px;
  outline: none;
  border: 1px solid var(--color-primary);
  padding: 4px 4px;
  font-family: "Quicksand", sans-serif;
  height: 2.5em;
}

.my-login-modal label {
  font-size: 1.2em;
  margin: 0 20px;
}

.sub-label p {
  font-size: 0.7em;
}

.form-card {
  padding: 10px 0;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
}

form {
  width: 100%;
}

.register-checkbox {
  width: 30px !important;
  &:checked {
    background-color: red !important;
    color: red !important;
  }
}

.form-link1 {
  color: var(--color-primary);
  text-decoration: none;
}

.form-link1:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

// CALENDAR turn into CSS Module
//  Check

.calendar-container > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.react-datepicker {
  background-color: var(--color-primary) !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  max-width: 350px !important;
}

.react-datepicker__header {
  background-color: var(--color-primary) !important;
  border: none !important;
}

.react-datepicker__navigation {
  height: calc(20px + 2vw) !important;
  align-items: baseline !important;
}

.react-datepicker__navigation-icon:before {
  border-color: white !important;
  top: calc(9px + 1vw) !important;
  height: 13px !important;
  width: 13px !important;
}

.react-datepicker__month-container {
  padding: calc(0.5em + 0.8vw);
}

.react-datepicker__current-month {
  color: white !important;
  text-transform: uppercase !important;
  font-size: calc(1em + 0.5vw) !important;
  position: relative;
  bottom: 10px;
}

.react-datepicker__day-name {
  color: white !important;
  text-transform: uppercase !important;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: center;
}

.react-datepicker__day-name {
  font-size: calc(1em + 0.5vw) !important;
  width: 1.7rem !important;

  margin-inline: calc(0.2em + 0.2vw) !important;
}

.react-datepicker__day {
  color: white !important;
  font-size: calc(1em + 0.5vw) !important;
  margin: calc(0.2em + 0.2vw) !important;

  // &--keyboard-selected {
  //   background-color: var(--color-primary) !important;
  //   color: white !important;
  // }

  &--in-range {
    background-color: var(--color-secondary) !important;
    color: var(--color-primary) !important;
  }
  &--in-selecting-range {
    background-color: var(--color-secondary) !important;
    color: var(--color-primary) !important;
  }
  &:hover {
    background-color: var(--color-secondary) !important;
    color: var(--color-primary) !important;
  }
  &--selected {
    background-color: var(--color-secondary) !important;
    color: var(--color-primary) !important;
  }

  &--selecting-range-start {
    color: var(--color-primary) !important;
    background-color: var(--color-secondary) !important;
  }
  &--disabled {
    color: red !important;
    background-color: var(--color-primary) !important;

    &:hover {
      color: red !important;
      background-color: var(--color-primary) !important;
    }
  }
}

@media (min-width: 700px) {
  footer ul {
    display: flex;
    gap: 10px;
  }
  .footer-copyright {
    font-size: 1.1em;
  }
  .footer-logo-container svg {
    width: 150px;
  }
  .footer-links a {
    font-size: 1.1em;
  }

  // ABOUT PAGE

  .about-page .card-title {
    font-size: 1.6em;
  }
  .about-page .card-text {
    font-size: 1.2em;
  }
}

@media (min-width: 992px) {
  // ABOUT PAGE

  .about-page .card-title {
    font-size: 1.6em;
  }

  // .show {
  //   display: block;
  // }
  header {
    display: flex;
    justify-content: flex-start;
  }
  header a:hover {
    color: var(--color-primary);
    text-decoration: var(--color-primary) underline;
  }
  .logo-container svg {
    width: 190px;
  }
  header .btn {
    display: none !important;
  }

  nav {
    display: flex !important;
    flex: 1 !important;
    justify-content: space-between !important;
    align-items: baseline !important;
    position: relative !important;
    right: 0 !important;
    top: 0 !important;
    background-color: var(--color-secondary) !important;
    border: none !important;
  }

  .login {
    float: right;
    margin-right: 0 !important;
  }

  nav ul {
    display: flex;
    border: none;
    padding: 0;
    margin-left: 30px;
  }
  .dropdown {
    display: block;
  }
  .dropdown-menu {
    display: block;
  }
  .dropdown-toggle {
    display: none;
  }
}
